<!DOCTYPE html>
<html ng-app="studentDataApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Data Viewer - Creed Haymond</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="lib/css/bootswatch-bootstrap-3.3.6.min.css">
    <link rel="stylesheet" href="studentData.css">
    <script src="lib/js/angular.js"></script>
</head>

<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Student Data Viewer</h1>
        <p>Data populated from a JSON retrieved by an AJAX call</p>
    </div>


    <!--================= STUDENT DATA NAVBAR ================-->
    <!--======================================================-->

    <nav class="navbar navbar-inverse" ng-controller="EditStudentController as navBarCntrl">
        <div class="container-fluid">

            <!-- Navbar Collapsable (for mobile view) -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarCollapse1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/school.svg" width=25px></a>
            </div>

            <!-- Navbar Links and Such -->
            <div class="collapse navbar-collapse" id="navbarCollapse1">

                <!-- Left Side -->
                <ul class="nav navbar-nav">
                    <li id="addStudentBut" data-toggle="modal" data-target="#studentFormModal" ng-click="addStudent()"><a>Add Student <span class="sr-only">(current)</span></a></li>
                    <li id="restoreStudentBut"><a>Restore Student</a></li>
                    <!--<li id="clearCookies"><a>Clear Cookies</a></li>-->
                </ul>

                <!--Right Side-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="viewButton" data-toggle="tooltip" data-placement="top" title="Tile View">
                            <span id="viewIcon" class="glyphicon glyphicon-th"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!--================= DIFFERENT VIEWS ====================-->
    <!--======================================================-->

<div ng-switch="currView" ng-controller="DataTableController as StuCntrl">
    <!-------- Table View for Student Data -------->
    <div ng-switch-when="table" ng-cloak>
        <div id="table-view" class="main-view table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-color">
                <tr>
                    <th id="lname" class="orderTable">Full Name <span class="glyphicon glyphicon-menu-right"></span>
                    </th>
                    <th id="s_year" class="orderTable">Grade <span class="glyphicon glyphicon-menu-right"></span></th>
                    <th id="startDate" class="orderTable hidden-xs">Start Date <span
                            class="glyphicon glyphicon-menu-right"></span></th>
                    <th id="city" class="orderTable hidden-md hidden-sm hidden-xs">City <span
                            class="glyphicon glyphicon-menu-right"></span></th>
                    <th id="state" class="orderTable hidden-sm hidden-xs">State <span
                            class="glyphicon glyphicon-menu-right"></span></th>
                    <th id="zip" class="orderTable hidden-md hidden-sm hidden-xs">Zip <span
                            class="glyphicon glyphicon-menu-right"></span></th>
                    <th id="edit" class="text-center">Edit <span class=""></span></th>
                    <th id="delete" class="text-center">Delete <span class=""></span></th>
                </tr>
                </thead>
                <tbody id="studentDataTable">
                <!-- data is dynamically created in a script -->
                <tr ng-repeat="student in students" id="${index}" class="clickRow" ng-click="selectStu(student)">
                    <td data-toggle="modal" data-target="#studentModal">
                        {{student.lname}}, {{student.fname}}
                    </td>
                    <td data-toggle="modal" data-target="#studentModal">
                        {{student.s_year}}
                    </td>
                    <td data-toggle="modal" data-target="#studentModal"
                        class="hidden-xs"> {{student.startDate}}
                    </td>
                    <td data-toggle="modal" data-target="#studentModal"
                        class="hidden-md hidden-sm hidden-xs"> {{student.city}}
                    </td>
                    <td data-toggle="modal" data-target="#studentModal"
                        class="hidden-sm hidden-xs"> {{student.state}}
                    </td>
                    <td data-toggle="modal" data-target="#studentModal"
                        class="hidden-md hidden-sm hidden-xs"> {{student.zip}}
                    </td>
                    <td data-toggle="modal" data-target="#studentFormModal" class="editCol text-center" title="Edit" ng-click="editStudent()">
                        <div class="glyphicon glyphicon-pencil editItemButton"></div>
                    </td>
                    <td data-toggle="modal" data-target="#confirmDelModal" class="deleteCol text-center" title="Delete">
                        <div class="glyphicon glyphicon-remove deleteItemButton"></div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <!-------- Modal Student View for Displaying Student Data  -------->
        <div class="modal fade" id="studentModal" role="dialog">
            <div id="showStudentModal" class="modal-dialog">
                <student-info-modal></student-info-modal>
            </div>
        </div>
    </div>


    <!-------- Tile View for Student Data :: hidden by default -------->
    <div id="tile-view" class="main-view" ng-switch-when="tiles">
        <br>
        <div id="studentDataTiles" class="row">
            <!-- data is dynamically created in a script -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="">
                <div class="panel panel-info clickPanel">
                    <div  class="panel-heading ">
                        <h3 class="panel-title"> {{student.lname}}, {{student.fname}} </h3>
                    </div>
                    <div class="panel-body text-center"><img src="/student-images/${student.lname}-${student.fname}.png" class="studentPicture"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="studentFormModal" role="dialog" ng-controller="EditStudentController as EditControl" ng-cloak>
<div class="modal-dialog">
    <div class="modal-content">
        <!--modal header-->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title text-center">Enter Student Information</h2>
        </div>
        <!--modal body-->
        <div class="modal-body">
            <form id="studentForm" class="form-horizontal">
                <fieldset>
                    <legend class="text-center">Personal Information</legend>
                    <!--First Name Field -->
                    <div class="form-group">
                        <label for="inputFirstName" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">First Name</label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
                            <input type="text" class="form-control" id="inputFirstName"
                                   placeholder="First Name" ng-model="student.fname">
                        </div>
                    </div>
                    <!--Last Name Field -->
                    <div class="form-group">
                        <label for="inputLastName" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">Last
                            Name</label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
                            <input type="text" class="form-control" id="inputLastName"
                                   placeholder="Last Name" ng-model="student.lname">
                        </div>
                    </div>
                    <!-- Phone Number Field -->
                    <div class="form-group">
                        <label for="inputPhone" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">Phone
                            Number</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="form-control" id="inputPhone"
                                   placeholder="000-000-0000" ng-model="student.phone">
                        </div>
                    </div>
                    <!-- Start Date Field -->
                    <div class="form-group">
                        <label for="inputStartDate" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">Start
                            Date</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="form-control" id="inputStartDate"
                                   placeholder="yyyy-MM-dd" ng-model="student.startDate">
                        </div>
                    </div>

                    <!-- Year Field -->
                    <div class="form-group">
                        <label for="yearInSchool" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">Year
                            in School</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <select class="form-control" id="yearInSchool"
                                    ng-model="student.s_year" ng-options="year for year in [1,2,3,4]"></select>
                        </div>
                    </div>

                    <legend class="text-center">Address</legend>
                    <!-- Address Line Field -->
                    <div class="form-group">
                        <label for="inputAddressL1" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">Address</label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
                            <input type="text" class="form-control" id="inputAddressL1"
                                   placeholder="Street Address" ng-model="student.street" required>
                        </div>
                    </div>
                    <!-- City Field -->
                    <div class="form-group">
                        <label for="inputCity"
                               class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">City</label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
                            <input type="text" class="form-control" id="inputCity"
                                   placeholder="City" ng-model="student.city" required>
                        </div>
                    </div>

                    <!-- State Field -->
                    <div class="form-group">
                        <label for="inputState"
                               class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">State</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <select class="form-control" id="inputState" name="state"
                                    ng-model="student.state" ng-options="stateAbb as stateName for (stateAbb, stateName) in states"></select>
                        </div>
                    </div> <!-- State Selector -->

                    <!-- Zip Field -->
                    <div class="form-group">
                        <label for="inputZip"
                               class="col-lg-3 col-md-3 col-sm-3 col-xs-6 control-label">Zip</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <input type="text" class="form-control" id="inputZip"
                                   placeholder="ZIP" ng-model="student.zip">
                        </div>
                    </div>

                    <hr>

                    <div id="saveButtonDiv" class="text-center">
                        <input id="formSubmit" type="submit" class="btn btn-success" value="Save" ng-click="saveStudent()">
                        <!--<button type="submit" form="studentForm" value="Submit">Submit</button>-->
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</div>


    <!--==== RESTORE STUDENT MODAL =====-->
    <div class="modal fade" id="studentRestoreModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title text-center">Restore Deleted Students</h2>
                </div>
                <div class="modal-body">
                    <div id="restore-table-view" class="main-view table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-color">
                            <tr>
                                <th class="orderTable">Full Name</th>
                                <th class="orderTable hidden-xs">Start Date</th>
                                <th class="orderTable hidden-md hidden-sm hidden-xs">City <span
                                        class="glyphicon glyphicon-menu-right"></span></th>
                                <th id="restoreStu">Restore</th>
                            </tr>
                            </thead>
                            <tbody id="restoreStudentTable">
                            <!--data is dynamically created in a script -->
                            <!--<tr id="">-->
                            <!--    <td> ${student.lname}, ${student.fname} </td>-->
                            <!--    <td class="hidden-xs"> ${student.startDate} </td>-->
                            <!--    <td class="hidden-md hidden-sm hidden-xs">${student.city}</td>-->
                            <!--    <td class="restCol text-center"><div class="glyphicon glyphicon-repeat restorItemButton"></div></td>-->
                            <!--</tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!------------------ DELETE CONFIRM MODAL ------------->
    <div class="modal fade" id="confirmDelModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title text-center">Confirm Delete</h2>
                </div>
                <div class="modal-body">
                    <div id="delete-table-view" class="main-view table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-color">
                            <tr>
                                <th class="orderTable">Full Name</th>
                                <th class="orderTable hidden-xs">Start Date</th>
                                <th class="orderTable hidden-sm hidden-xs">City</th>
                            </tr>
                            </thead>
                            <tbody id="studentToDelete">
                            <!-- data is dynamically created in a script -->
                            <!--<tr>-->
                            <!--    <td> ${student.lname}, ${student.fname} </td>-->
                            <!--    <td class="hidden-xs"> ${student.startDate} </td>-->
                            <!--    <td class="hidden-md hidden-sm hidden-xs">${student.city}</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div id="deleteButtonDiv" class="text-center">
                        <!--<button id="confirmDeleteButton" type="button" class="btn btn-danger" data-dismiss="modal">DELETE</button>-->
                    </div>
                </div>
                <div id="cancelDeleteButtonDiv" class="modal-footer">
                    <button id="cancelDeleteButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!------- Spinning Loading Modal  -------->
    <div class="modal fade" id="loadingModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h4 class="modal-title">Loading</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="progressBar" class="progress-bar progress-bar-info progress-bar-striped active"
                             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width:50%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="lib/js/jquery-2.2.4.min.js"></script>
<script src="lib/js/bootstrap-3.3.6.min.js"></script>
<script src="lib/js/js.cookie-2.1.2.js"></script>
<script src="us_states.js"></script>
<script src="student_logic.js"></script>
<!--<script src="interface.js"></script>-->
<!--<script src="sortComparators.js"></script>-->

</body>

</html>
