<!DOCTYPE html>
<html ng-app="studentDataApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Data Viewer - Creed Haymond</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="lib/css/bootswatch-bootstrap-3.3.6.min.css">
    <link rel="stylesheet" href="studentData.css">
    <script src="lib/js/angular.js"></script>
</head>

<body ng-controller="DataTableController as StuCntrl" ng-cloak>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Student Data Viewer</h1>
        <p>Data populated from a MySQL database</p>
        <h5>this is some dffdfsdfssdfsddfsdf info</h5>
    </div>


    <!--================= STUDENT DATA NAVBAR ================-->
    <!--======================================================-->

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Navbar Collapsable (for mobile view) -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarCollapse1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="img/school.svg" width=25px></a>
            </div>

            <!-- Navbar Links and Such -->
            <div class="collapse navbar-collapse" id="navbarCollapse1">
                <!-- Left Side -->
                <ul class="nav navbar-nav">
                    <li id="addStudentBut" data-toggle="modal" data-target="#studentFormModal" ng-click="addStudent()">
                        <a>Add Student <span class="sr-only">(current)</span></a></li>
                    <li id="restoreStudentBut"><a>Restore Student</a></li>
                </ul>
                <!--Right Side-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="viewButton" data-toggle="tooltip" data-placement="top" title="Tile View"
                           ng-click="currView==='table' ? currView='tiles': currView='table'">
                            <span id="viewIcon" class="glyphicon glyphicon-th"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--================= DIFFERENT VIEWS ====================-->
    <!--======================================================-->
    <div ng-switch="currView">
        <!--- Table View for Student Data --->
        <div ng-switch-when="table">
            <div id="table-view" class="main-view table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-color">
                    <tr>
                        <th id="lname" class="orderTable" ng-click="sortBy('name')">Full Name
                            <span class="ascend_descend material-icons"
                               ng-show="propertyName === 'name'"
                               ng-class="{reverse: reverse}"></span></th>
                        <th id="s_year" class="orderTable" ng-click="sortBy('year')">Grade
                          <span class="ascend_descend material-icons"
                             ng-show="propertyName === 'year'"
                             ng-class="{reverse: reverse}"></span></th>
                        <th id="startDate" class="orderTable hidden-xs" ng-click="sortBy('start_date')">Start Date
                          <span class="ascend_descend material-icons"
                             ng-show="propertyName === 'start_date'"
                             ng-class="{reverse: reverse}"></span></th>
                        <th id="city" class="orderTable hidden-md hidden-sm hidden-xs" ng-click="sortBy('city')">City
                          <span class="ascend_descend material-icons"
                             ng-show="propertyName === 'city'"
                             ng-class="{reverse: reverse}"></span></th>
                        <th id="state" class="orderTable hidden-sm hidden-xs" ng-click="sortBy('state')">State
                          <span class="ascend_descend material-icons"
                             ng-show="propertyName === 'state'"
                             ng-class="{reverse: reverse}"></span></th>
                        <th id="zip" class="orderTable hidden-md hidden-sm hidden-xs" ng-click="sortBy('zip')">Zip
                          <span class="ascend_descend material-icons"
                             ng-show="propertyName === 'zip'"
                             ng-class="{reverse: reverse}"></span></th>
                        <th id="edit" class="text-center">Edit <span class=""></span></th>
                        <th id="delete" class="text-center">Delete <span class=""></span></th>
                    </tr>
                    </thead>
                    <tbody id="studentDataTable">
                    <!-- data is dynamically created in a script -->
                    <tr ng-repeat="student in students | orderBy:sortVal:reverse" id="${index}" class="clickRow"
                        ng-click="selectStu(student)">
                        <td data-toggle="modal" data-target="#studentModal">
                            {{student.lname}}, {{student.fname}}
                        </td>
                        <td data-toggle="modal" data-target="#studentModal">
                            {{student.s_year}}
                        </td>
                        <td data-toggle="modal" data-target="#studentModal"
                            class="hidden-xs"> {{student.startDate}}
                        </td>
                        <td data-toggle="modal" data-target="#studentModal"
                            class="hidden-md hidden-sm hidden-xs"> {{student.city}}
                        </td>
                        <td data-toggle="modal" data-target="#studentModal"
                            class="hidden-sm hidden-xs"> {{student.state}}
                        </td>
                        <td data-toggle="modal" data-target="#studentModal"
                            class="hidden-md hidden-sm hidden-xs"> {{student.zip}}
                        </td>
                        <td data-toggle="modal" data-target="#studentFormModal" class="editCol text-center" title="Edit"
                            ng-click="editStu()">
                            <div class="glyphicon glyphicon-pencil editItemButton"></div>
                        </td>
                        <td data-toggle="modal" data-target="#confirmDelModal" class="deleteCol text-center"
                            title="Delete">
                            <div class="glyphicon glyphicon-remove deleteItemButton"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-------- Modal Student View for Displaying Student Data  -------->
        <div class="modal fade" id="studentModal" role="dialog">
            <div id="showStudentModal" class="modal-dialog">
                <student-info-modal></student-info-modal>
            </div>
        </div>

        <!-------- Tile View for Student Data :: hidden by default -------->
        <div id="tile-view" class="main-view" ng-switch-when="tiles">

            <div id="studentDataTiles" class="row">
                <!-- data is dynamically created in a script -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="student in students">
                    <div class="panel panel-info clickPanel" data-toggle="modal" data-target="#studentModal"
                         ng-click="selectStu(student)">
                        <div class="panel-heading ">
                            <h3 class="panel-title"> {{student.lname}}, {{student.fname}} </h3>
                        </div>
                        <div class="panel-body text-center"><img
                                src="/student-images/{{student.lname}}-{{student.fname}}.png" class="studentPicture">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="studentFormModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title text-center">Enter Student Information</h2>
                </div>
                <!--modal body-->
                <student-form-modal></student-form-modal>
            </div>
        </div>
    </div>


    <!--==== RESTORE STUDENT MODAL =====-->
    <div class="modal fade" id="studentRestoreModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title text-center">Restore Deleted Students</h2>
                </div>
                <div class="modal-body">
                    <div id="restore-table-view" class="main-view table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-color">
                            <tr>
                                <th class="orderTable">Full Name</th>
                                <th class="orderTable hidden-xs">Start Date</th>
                                <th class="orderTable hidden-md hidden-sm hidden-xs">City <span
                                        class="glyphicon glyphicon-menu-right"></span></th>
                                <th id="restoreStu">Restore</th>
                            </tr>
                            </thead>
                            <tbody id="restoreStudentTable">
                            <!--data is dynamically created in a script -->
                            <!--<tr id="">-->
                            <!--    <td> ${student.lname}, ${student.fname} </td>-->
                            <!--    <td class="hidden-xs"> ${student.startDate} </td>-->
                            <!--    <td class="hidden-md hidden-sm hidden-xs">${student.city}</td>-->
                            <!--    <td class="restCol text-center"><div class="glyphicon glyphicon-repeat restorItemButton"></div></td>-->
                            <!--</tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!------------------ DELETE CONFIRM MODAL ------------->
    <div class="modal fade" id="confirmDelModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title text-center">Confirm Delete</h2>
                </div>
                <div class="modal-body">
                    <div id="delete-table-view" class="main-view table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-color">
                            <tr>
                                <th class="orderTable">Full Name</th>
                                <th class="orderTable hidden-xs">Start Date</th>
                                <th class="orderTable hidden-sm hidden-xs">City</th>
                            </tr>
                            </thead>
                            <tbody id="studentToDelete">
                            <!-- data is dynamically created in a script -->
                            <!--<tr>-->
                            <!--    <td> ${student.lname}, ${student.fname} </td>-->
                            <!--    <td class="hidden-xs"> ${student.startDate} </td>-->
                            <!--    <td class="hidden-md hidden-sm hidden-xs">${student.city}</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                    <div id="deleteButtonDiv" class="text-center">
                        <!--<button id="confirmDeleteButton" type="button" class="btn btn-danger" data-dismiss="modal">DELETE</button>-->
                    </div>
                </div>
                <div id="cancelDeleteButtonDiv" class="modal-footer">
                    <button id="cancelDeleteButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!------- Spinning Loading Modal  -------->
    <div class="modal fade" id="loadingModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h4 class="modal-title">Loading</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="progressBar" class="progress-bar progress-bar-info progress-bar-striped active"
                             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width:50%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="lib/js/jquery-2.2.4.min.js"></script>
<script src="lib/js/bootstrap-3.3.6.min.js"></script>
<script src="lib/js/js.cookie-2.1.2.js"></script>
<script src="us_states.js"></script>
<script src="student_logic.js"></script>
<!--<script src="interface.js"></script>-->
<!--<script src="sortComparators.js"></script>-->

</body>

</html>
